@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    @apply  m-0 
            p-0;
}

button, a, input {
    @apply focus:outline-none;
}

select:focus {
    @apply shadow-none !important;
}

.control-arrow:hover {
    background: 0 !important;
}

.control-arrow::before {
    content: url(/assets/1fsxS23o.svg) !important;
    border: 0 !important;
}

.control-next::before {
    transform: rotate(90deg);
}

.control-prev::before {
    transform: rotate(-90deg);
}

.dot {
    background: rgba(0,0, 0, 0.5) !important;
}

:root {
    --bgLoader1: #B38426;
    --bgLoader2: #cea34e;
}