.box {
    width: 100%;
    background-color: #F0E9D6;
    padding: 3rem 1rem;
}

.wrap {
    padding: 2em 1em;
    display: grid;
    align-items: center;
    row-gap: 3em;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(fit-content, 1fr);
    grid-template-areas: 
        'img1'
        'text1'
        'img2'
        'text2'
        'img3'
        'text3';
}

.wrap img {
    width: 12em;
}

.wrap > :nth-child(1) {
    grid-area: img1;
}

.wrap > :nth-child(3) {
    grid-area: img2;
}

.wrap > :nth-child(5) {
    grid-area: img3;
}

.wrap > :nth-child(2) {
    grid-area: text1;
}

.wrap > :nth-child(4) {
    grid-area: text2;
}

.wrap > :nth-child(6) {
    grid-area: text3;
}

.logo {
    right: -5em;
}

.wrap > :nth-child(even) {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .wrap {
        margin: 0 auto;
        padding: 2em 0;
        max-width: 64rem;
        justify-items: flex-start;
        grid-template-columns: 16em 1fr 1fr 12em;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
            'img1 text1 text1 .'
            'text2 text2 text2 img2'
            'img3 text3 text3 .';
    }

    .wrap > :nth-child(even) {
        text-align: start;
    }

    .box {
        padding: 3rem 2rem;
    }
}

@media screen and (min-width: 1024px) {
    .box {
        padding: 3rem 6rem;
    }
}

@media screen and (min-width: 1280px) {
    .box {
        padding: 3rem 12rem;
    }
}

@media screen and (min-width: 1536px) {
    .box {
        padding: 3rem 24rem;
    }
}