.wrapper {
    display: flex;
    cursor: pointer;
    padding: .3rem;
    align-items: center;
    width: max-content;
}

.wrapper[data-checked] {
    border-radius: 0.5rem;
}

.wrapper[data-checked].withDataChecked {
    background-color: rgba(179, 132, 38, 0.3);
}

.wrapper[data-checked].forAdmin {
    background-color: rgba(18, 167, 214, 0.3);
}

.color {
    margin-right: .5rem;
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    border: 2px solid white;
    box-shadow: 3px 6px 5px -1px rgba(188,188,188,0.45);
}
