.footerTop {
    background-color: #B38426;
    height: 4.2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
}

.footerTop h1 {
    color: #fff;
    font-weight: bold;
}

.container {
    padding: 3em 1em;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, fit-content);
    grid-template-areas: 
    'contact' 
    'address' 
    'about' 
    'service'
    'social' 
    'payment';
   row-gap: 1em;
}

.container h1 {
    font-weight: bold;
}

.container > * {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.container :nth-child(-n+2) > * {
    margin-bottom: .5em;
}

.container :nth-child(n+3) > * {
    margin-bottom: 1.2em;
}

.contact {
    grid-area: contact;
}

.address {
    grid-area: address;
}

.address p {
    text-align: center;
}

.about {
    grid-area: about;
}

.service {
    grid-area: service;
}

.social {
    grid-area: social;
}

.payment {
    grid-area: payment;
}

@media screen and (min-width: 640px) {
 .footerTop {
     padding: 0 6em;
 }

 .container {
    padding: 3em 6em;
    grid-template-columns: 1.2fr 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    'contact about social payment'
    'address service social payment';
    column-gap: 4em;
    row-gap: 1.5em;
 }

 .container :nth-child(-n+2) {
     align-items: flex-start;
 }

 .payment {
    justify-self: flex-end;
 }

 .address p {
    text-align: start;
 }
}

@media screen and (min-width: 1500px) {
    .footerTop {
        padding: 0 24rem;
    }

    .container {
        padding: 3em 24rem;
    }
}