.header {
    background-color: #ffffff;
    margin-top: 1rem;
    display: grid;
    width: 100%;
    row-gap: 10px;
    grid-template-columns: 1rem .5fr repeat(2, 1fr) 1rem;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
        '. logo logo cart .'
        '. menu searchbar searchbar .';
}

.header > :nth-child(even) {
    justify-self: end;
    align-self: center;
}

.header > :nth-child(1) {
    grid-area: logo;
}

.header > :nth-child(2) {
    grid-area: searchbar;
}

.header > :nth-child(3) {
    grid-area: line;
    display: none;
}

.header > :nth-child(4) {
    grid-area: cart;
    cursor: pointer;
}

.header > :nth-child(5) {
    grid-area: tabs;
    display: none;
    align-self: flex-end !important;
}

.header > :nth-child(6) {
    grid-area: menu;
    display: flex;
    justify-self: flex-start;
}

@media screen and (min-width: 768px) {
    .header {
        row-gap: 0;
        position: sticky;
        top: -70px;
        z-index: 10;
        grid-template-columns: 2rem 1fr 1fr repeat(2, 6rem) 2rem;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        '. logo searchbar line cart .'
        'tabs tabs tabs tabs tabs tabs';
    }

    .header > :nth-child(n+2) {
        justify-self: center;
        align-self: center;
    }

    .header > :nth-child(3), .header > :nth-child(5) {
        display: flex;
    }

    .header > :nth-child(6) {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .header {;
        grid-template-columns: 6rem 1fr 1fr repeat(3, 6rem);
    }
}

@media screen and (min-width: 1280px) {
    .header {
        grid-template-columns: 12rem 1fr 1fr repeat(2, 6rem) 12rem;
    }
}

@media screen and (min-width: 1536px) {
    .header {
        grid-template-columns: 24rem 1fr 1fr repeat(2, 6rem) 24rem;
    }
}