.header {
    margin-top: 1em;
    display: grid;
    width: 100%;
    row-gap: 2em;
    grid-template-columns: 6em 1fr 1fr repeat(3, 6em);
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    '. logo searchbar line cart .'
    '. tabs tabs tabs tabs tabs';
}

.header > :nth-child(n+2) {
    justify-self: center;
}

.header > :nth-child(1) {
    grid-area: logo;
}

.header > :nth-child(2) {
    grid-area: searchbar;
}

.header > :nth-child(3) {
    grid-area: line;
}

.header > :nth-child(4) {
    grid-area: cart;
}

.header > :nth-child(5) {
    grid-area: tabs;
}