.nav {
    @apply  w-full
            border-b
            px-24
            md:px-8
            lg:px-24
            xl:px-48
            2xl:px-96;
}

.tabs {
    @apply  flex
            font-medium;
}

.tabs > * {
    @apply  mr-12
            pb-1 
            cursor-pointer;
}

.tabs .selected {
    @apply  font-semibold
            border-b-2
            border-gold;
}