.nav {
    @apply  w-full
            border-b
            px-24
            md:px-8
            lg:px-24
            xl:px-48;
}

.tabs {
    @apply flex;
}

.tabs > * {
    @apply  mr-12
            pb-1 
            cursor-pointer;
}

.tabs .selected {
    @apply  border-b-2
            border-gold;
}