.box {
    display: grid;
    grid-template-rows: repeat(4, .5fr);
    grid-template-columns: 1fr;
    align-items: center;
}

.box {
    @apply  border
            md:h-4/6
            2xl:h-5/6
            w-full
            md:w-5/6
            p-4
            rounded-lg;
}

.box h1 {
    font-weight: bold;
}

.box > div > p {
    font-weight: normal;
}

.button {
    @apply  bg-gold 
            text-white
            text-sm
            rounded-3xl
            !important;
}