.body {
    display: flex;
    flex-direction: column;
}

.body li {
    padding: 1em 0;
}

.body li:not(:nth-child(2)) {
    cursor: pointer;
}

.header {
    display: flex;
    justify-content: center;
}